<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Book Details</h1>
    <div>
        <h2>{{ book.title }}</h2>
        <p>Category: {{ book.category }}</p>
        <p>Publication Date: {{ book.publication_date }}</p>
    </div>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
